body{
  background-color: black;
}
h1{
  text-align: center;
}
.fp-watermark{
  display: none;
}
.LandingJuega{
  background-color: 'blue';
  color: 'white';
}

.Page{
  background-color: blue;
  transition: all 0.75s ease-in-out;
  .fp-overflow{
    width: 100%;
    height: 100%;
    .background{
      background-color: red;
    }
  }
}

@keyframes gradientTransition {
  0% {
    background: linear-gradient(148deg, rgba(255,214,87,1) 0%, rgba(13,173,192,1) 40%, rgba(186,122,145,1) 83%);
  }
  100% {
    background: linear-gradient(148deg, rgba(255,214,87,1) 0%, rgba(13,173,192,1) 40%, rgba(186,122,145,1) 83%);
  }
}

.pageTransition {
  animation: gradientTransition 1s ease forwards;
}

.borderAnimation{
  //filter: drop-shadow(0px 0px 10px rgb(10, 218, 27)) brightness(1) saturate(100%);
  &-whatsapp{
    animation: borderAnimation 1.75s ease-in-out infinite;
  }
  &-messenger{
    animation: borderAnimationMessenger 1.75s ease-in-out infinite;
  }
  &-media{
    animation: borderAnimationMedia 1.75s ease-in-out infinite;
  }
}

@keyframes borderAnimation {
  0% {
    filter: drop-shadow(0px 0px 10px rgb(10, 218, 27)) brightness(1) saturate(100%);
  }
  50% {
    filter: drop-shadow(0px 0px 1px rgb(10, 218, 27)) brightness(1) saturate(100%);
  }
  100%{
    filter: drop-shadow(0px 0px 10px rgb(10, 218, 27)) brightness(1) saturate(100%);
  }
}

@keyframes borderAnimationMessenger {
  0% {
    filter: drop-shadow(0px 0px 10px rgb(10, 83, 218)) brightness(1) saturate(100%);
  }
  50% {
    filter: drop-shadow(0px 0px 1px rgb(10, 83, 218)) brightness(1) saturate(100%);
  }
  100%{
    filter: drop-shadow(0px 0px 10px rgb(10, 83, 218)) brightness(1) saturate(100%);
  }
}
@keyframes borderAnimationMedia {
  0% {
    filter: drop-shadow(0px 0px 10px rgb(237, 47, 47)) brightness(1) saturate(100%);
  }
  50% {
    filter: drop-shadow(0px 0px 1px rgb(237, 47, 47)) brightness(1) saturate(100%);
  }
  100%{
    filter: drop-shadow(0px 0px 10px rgb(237, 47, 47)) brightness(1) saturate(100%);
  }
}

/* Añadir a tu archivo CSS */
.popup-content {
  max-width: 100%; /* o un valor fijo si prefieres */
  max-height: 100%; /* o un valor fijo si prefieres */
  overflow: auto; /* Permite el desplazamiento si el contenido es más grande que el popup */
}

/* Deshabilitar zoom en dispositivos táctiles */
@media (pointer: coarse) {
  .popup-content {
      touch-action: manipulation;
  }
}

.video-player {
  max-width: 100%; /* Limita el ancho del video al del contenedor */
  max-height: 100%; /* Limita la altura del video al del contenedor */
}

.novideoTag{
  animation: animationNovideo 1s ease-in-out;
}

@keyframes animationNovideo{
  from{
    margin-top: 10px;
    opacity: 0;
  }
  to{
    margin-top: 0px;
    opacity: 1;
  }
} 

.navBarAnimation{
  animation: animationNavBar 3.5s ease-in-out infinite;
  //box-shadow: 20px 20px 20px 20px rgb(255, 11, 11);
  border: solid 1px white;
}

@keyframes animationNavBar{
  0%{
    box-shadow: 0px 0px 0px 0px #ffffff;
  }
  50%{
    box-shadow: 0px 0px 5px 2px #ffffff;
  }
  100%{
    box-shadow: 0px 0px 0px 0px #efb71000;
  }
}
.spinner{
  transform: scale(1);
  transition: all 0.75s ease-in-out;
  animation: animationSpinner 3.5s ease-in-out infinite;
  .divPoint{
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    &-1{
      top: 0;
      left: 0;
      background-color: yellow;
    }
    &-2{
      top: 0;
      right: 0;
      background-color: blue;
    }
    &-3{
      bottom: 0;
      left: 0;
      background-color: red;
    }
    &-4{
      bottom: 0;
      right: 0;
      background-color: green;
    }
  }
}

@keyframes animationSpinner {
  0%{
    transform: scale(1) rotate(0deg);
  }
  10%{
    transform: scale(1.1) rotate(0deg);
  }
  20%{
    transform: scale(1.1) rotate(45deg);
  }
  30%{
    transform: scale(1) rotate(45deg);
  }
  40%{
    transform: scale(1.1) rotate(45deg);
  }
  50%{
    transform: scale(1.1) rotate(90deg);
  }
  60%{
    transform: scale(1.1) rotate(90deg);
  }
  70%{
    transform: scale(1.1) rotate(360deg);
  }
  80%{
    transform: scale(1.1) rotate(180deg);
  }
  90%{
    transform: scale(1.1) rotate(0deg);
  }
  100%{
    transform: scale(1) rotate(0deg);
  }
}

.styleSide{
  //position: absolute;
  background-color: rgba(66, 66, 66, 0.329);
  width: 90%;
  height: auto;
  max-height: auto;
  border-radius: 8px;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  padding-left: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  overflow-y: 'auto';
  &-A{
    top: calc(18%);
    animation: animOpacityShow 0.35s ease-in-out;
    animation-fill-mode: forwards;
  }
  &-B{
    //bottom: calc(-18%);
    animation: animOpacityShow 0.35s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes animOpacityShow{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.itemNavBarStyle{
  height: 100px;
  width: 100px;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatingDiv{
  bottom: calc(15% - 25px);
  animation: animationFloatingDiv 2s ease-in-out forwards;
}

@keyframes animationFloatingDiv {
  0%{
    opacity: 0;
    bottom: calc(15% - 25px);
  }
  25%{
    opacity: 1;
    bottom: calc(15% - 50px);
  }
  50%{
    opacity: 1;
    bottom: calc(15% - 25px);
  }
  75%{
    opacity: 1;
    bottom: calc(15% - 50px);
  }
  100%{
    opacity: 0;
    bottom: calc(15% - 25px);
  }
}

.botonWhapp{
  animation: animationBotonWhapp 1s ease-in-out infinite;
}

@keyframes animationBotonWhapp {
  0%{
    bottom: 9%;
  }
  50%{
    bottom: 8%;
  }
  100%{
    bottom: 9%;
  }
}

.loading{
  margin-top: 16px;
  opacity: 0;
  //animation-delay: 5s;
  animation: loadingAnimation 5s ease-in-out infinite
}

@keyframes loadingAnimation {
  0%{
    margin-top: 16px;
    opacity: 0;
  }
  10%{
    margin-top: 0px;
    opacity: 1;
  }
  89%{
    margin-top: 0px;
    opacity: 1;
  }
  90%{
    margin-top: 0px;
    opacity: 1;
  }
  100%{
    margin-top: -16px;
    opacity: 0;
  }
}